<%- include("../settings/header") %>
<%- include("../settings/nav") %>
<%- include("../settings/top") %>
  
  <h3 id="lo" style="color: #ff0000; display: none;">ログアウトしました。</h3>
  <h3 id="f" style="color: #ff0000; display: none;">チャットを使用するにはログインが必要です。ログインしてください。</h3>
  <h3 id="e" style="color: #ff0000; display: none;"><%= err %></h3>
  <br id="loBr" style="display: none;">
  <form method="POST" action="/chat/login">
  <h2>
    <input class="loginText" type="text" name="username" placeholder="ユーザー名" required>
  </h2>
  <h2>
    <input class="loginText" type="password" name="password" placeholder="パスワード" required>
  </h2>
  <h2>
    <button class="blueButton20" type="submit">ログイン</button>
  </h2>
  <br>
  <a href="rules" style="color: #000000;">利用規約</a>
  <br>
  <br>
  <p>
    まだアカウントをお持ちでない方は<a href="signup" style="color: #000000; padding: 0; margin: 0;">こちら</a>
  </p>
</form>
  <br>

<script>
  const params = new URLSearchParams(window.location.search);
  const f = params.get("f");
  
  if ( "<%= err %>" !== "none" ){
    document.getElementById("e").style.display = "block";
    document.getElementById("loBr").style.display = "block";
  }
  if ( f == "chat" ){
    document.getElementById("f").style.display = "block";
    document.getElementById("loBr").style.display = "block";
  }
  if ( f == "logout" ){
    document.getElementById("lo").style.display = "block";
    document.getElementById("loBr").style.display = "block";
  }
</script>
  </div>
  
<%- include("../settings/footer") %>