<%- include("../settings/header") %>
<%- include("../settings/nav") %>
<%- include("../settings/top") %>
  
  <form method="POST" action="/chat/signup">
  <h2>
    <input class="loginText" type="text" name="username" placeholder="ユーザー名" required>
  </h2>
  <h2>
    <input class="loginText" type="password" name="password" placeholder="パスワード" required>
  </h2>
  <h2>
    <button class="blueButton20" type="submit">アカウントを作成</button>
  </h2>
  <br>
  <p>
    サインアップすると、<a href="rules" style="color: #000000;">利用規約</a>を確認し、同意したとみなされます。  
  </p>
  <br>
</form>
  <h3 id="e" style="color: #ff0000;"><%= err %></h3>
  <br>
  <p>
    すでにアカウントをお持ちの方は<a href="login" style="color: #000000; padding: 0; margin: 0;">こちら</a>
  </p>
  <br>

<script>
  if ( "<%= err %>" == "none" ){
    document.getElementById("e").style.display = "none";
  }
</script>
  </div>
  
<%- include("../settings/footer") %>